<plugin name='gdtimporter' version='0.4.5.1' grailsVersion='1.3.6 &gt; *'>
  <author>Tjeerd Abma</author>
  <authorEmail>t[dot]w[dot]abma[at]gmail[dot]com</authorEmail>
  <title>Importer plugin for Grails Domain Templates (GDT)</title>
  <description>\
This plugin allows one to import data into Grails Domain Templates (GDT).
</description>
  <documentation>http://grails.org/plugin/gdtimporter</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.dbnp.gdtimporter.GdtImporterController</resource>
    <resource>org.dbnp.gdtimporter.GdtImportMapping</resource>
    <resource>org.dbnp.gdtimporter.GdtMappingColumn</resource>
    <resource>org.dbnp.gdtimporter.GdtImporterService</resource>
    <resource>org.dbnp.gdtimporter.GdtImporterTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='gdt' version='0.0.44 =&gt; *' />
    <plugin name='ajaxflow' version='0.2.1 =&gt; *' />
  </dependencies>
  <behavior />
</plugin>